<div class="container-fluid width-limit-md">
    <div id="pika-search-result">
        <div class="row card-panel teal lighten-4">
            <h4 class="text-center">How about the carps? Search and find out !</h4>
            <%= form_tag do %>
                <div class="input-field col s12 m4">
                    <input v-model="site" id="site" type="text" length="8">
                    <label for="site">Site</label>
                </div>
                <div class="input-field col s12 m4">
                    <input v-model="date" id="date" type="date" class="datepicker">
                    <label for="date">Date</label>
                </div>
                <div class="input-field col s12 m4">
                    <button class="btn waves-effect waves-light" type="button" v-on:click="loadData">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            <% end %>
        </div>
        <div class="row margin-top-md">
            <div class="col-xs-12 col-sm-3">
                <div class="text-center font-size-xlarge">
                    Status: {{ status }}
                </div>
                <table class="striped" v-if="!loading">
                    <thead>
                        <tr>
                            <td>Attributes</td>
                            <td>Statistics</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Streamflow (ft/sec)</td>
                            <td v-if="status == 'success'">{{ streamflow }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                        <tr>
                            <td>Streamflow spike (ft/sec)</td>
                            <td v-if="status == 'success'">{{ streamflow_spike }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                        <tr>
                            <td>Water temperature (Centigrade)</td>
                            <td v-if="status == 'success'">{{ water_temperature }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                        <tr>
                            <td>Accumulated growth-degree day, AGDD</td>
                            <td v-if="status == 'success'">{{ gdd }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                        <tr>
                            <td>Unimpounded Length (m)</td>
                            <td v-if="status == 'success'">{{ river_length }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                        <tr>
                            <td>predicted length for <i>C. idella</i> (m)</td>
                            <td v-if="status == 'success'">{{ predicted_length_c }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                        <tr>
                            <td>predicted length for <i>H. molitrix</i> (m)</td>
                            <td v-if="status == 'success'">{{ predicted_length_h }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                        <tr>
                            <td>predicted length for <i>M .piceus</i> (m)</td>
                            <td v-if="status == 'success'">{{ predicted_length_m }}</td>
                            <td class="text-center" v-else>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="text-center font-size-xlarge">
                    <i>C. idella</i> 草魚
                </div>
                <div class="margin-top-sm margin-bottom-md">
                    <%= image_tag ('fish/fish_c.jpg'), :class => "image-full-width image-circle" %>
                </div>
                <div v-if="status == 'success' && status_c == 0" class="text-center">
                    <div class="btn font-size-xlarge teal accent-3 margin-bottom-sm">Not Suitable</div>
                    <p class="font-size-large">It seems that she had a bad moment</p>
                </div>
                <div v-if="status == 'success' && status_c == 1" class="text-center">
                    <div class="btn font-size-xlarge amber lighten-2 margin-bottom-sm">Minimally Suitable</div>
                    <p class="font-size-large">Not good, not bad</p>
                </div>
                <div v-if="status == 'success' && status_c == 2" class="text-center">
                    <div class="btn font-size-xlarge orange lighten-4 margin-bottom-sm">Suitable</div>
                    <p class="font-size-large">She has a good time</p>
                </div>
                <div v-if="status == 'success' && status_c == 3" class="text-center">
                    <div class="btn font-size-xlarge red lighten-2 margin-bottom-sm">Very Suitable</div>
                    <p class="font-size-large">Lucky guy</p>
                </div>
                <div v-if="status == 'success' && status_c == 4" class="text-center">
                    <div class="btn font-size-xlarge red darken-2 margin-bottom-sm">Highly Suitable</div>
                    <p class="font-size-large">God, she is in her heyday!</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="text-center font-size-xlarge">
                    <i>H. molitrix</i> 鰱魚
                </div>
                <div class="margin-top-sm margin-bottom-md">
                    <%= image_tag ('fish/fish_h.jpg'), :class => "image-full-width image-circle" %>
                </div>
                <div v-if="status == 'success' && status_h == 0" class="text-center">
                    <div class="btn font-size-xlarge teal accent-3 margin-bottom-sm">Not Suitable</div>
                    <p class="font-size-large">It seems that she had a bad moment</p>
                </div>
                <div v-if="status == 'success' && status_h == 1" class="text-center">
                    <div class="btn font-size-xlarge amber lighten-2 margin-bottom-sm">Minimally Suitable</div>
                    <p class="font-size-large">Not good, not bad</p>
                </div>
                <div v-if="status == 'success' && status_h == 2" class="text-center">
                    <div class="btn font-size-xlarge orange lighten-4 margin-bottom-sm">Suitable</div>
                    <p class="font-size-large">She has a good time</p>
                </div>
                <div v-if="status == 'success' && status_h == 3" class="text-center">
                    <div class="btn font-size-xlarge red lighten-2 margin-bottom-sm">Very Suitable</div>
                    <p class="font-size-large">Lucky guy</p>
                </div>
                <div v-if="status == 'success' && status_h == 4" class="text-center">
                    <div class="btn font-size-xlarge red darken-2 margin-bottom-sm">Highly Suitable</div>
                    <p class="font-size-large">God, she is in her heyday!</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="text-center font-size-xlarge">
                    <i>M .piceus</i> 青魚
                </div>
                <div class="margin-top-sm margin-bottom-md">
                    <%= image_tag ('fish/fish_m.jpg'), :class => "image-full-width image-circle" %>
                </div>
                <div v-if="status == 'success' && status_m == 0" class="text-center">
                    <div class="btn font-size-xlarge teal accent-3 margin-bottom-sm">Not Suitable</div>
                    <p class="font-size-large">It seems that she had a bad moment</p>
                </div>
                <div v-if="status == 'success' && status_m == 1" class="text-center">
                    <div class="btn font-size-xlarge amber lighten-2 margin-bottom-sm">Minimally Suitable</div>
                    <p class="font-size-large">Not good, not bad</p>
                </div>
                <div v-if="status == 'success' && status_m == 2" class="text-center">
                    <div class="btn font-size-xlarge orange lighten-4 margin-bottom-sm">Suitable</div>
                    <p class="font-size-large">She has a good time</p>
                </div>
                <div v-if="status == 'success' && status_m == 3" class="text-center">
                    <div class="btn font-size-xlarge red lighten-2 margin-bottom-sm">Very Suitable</div>
                    <p class="font-size-large">Lucky guy</p>
                </div>
                <div v-if="status == 'success' && status_m == 4" class="text-center">
                    <div class="btn font-size-xlarge red darken-2 margin-bottom-sm">Highly Suitable</div>
                    <p class="font-size-large">God, she is in her heyday!</p>
                </div>
            </div>
        </div>
    </div>
</div>