<div class="container-fluie width-limit-md">
    <table>
    <thead>
        <tr>
            <td>Site serial</td>
            <td>日期</td>
            <td>流速(ft/sec)</td>
            <td>流速spike(ft/sec)</td>
            <td>水溫(度C)</td>
            <td>gdd</td>
            <td>predicted length for C. idella</td>
            <td>predicted length for H. molitrix</td>
            <td>predicted length for M .piceus</td>
            <td>動作</td>
        </tr>
    </thead>
    <tbody>
        <% @records.each do |record| %>
            <tr>
                <td><%= record.site_serial %></td>
                <td><%= record.date %></td>
                <td><%= record.streamflow %></td>
                <td><%= record.streamflow_spike %></td>
                <td><%= record.water_temperature %></td>
                <td><%= record.gdd %></td>
                <td><%= record.predicted_length_c %></td>
                <td><%= record.predicted_length_h %></td>
                <td><%= record.predicted_length_m %></td>
                <td><%= link_to 'Delete', record_path(record), :method => :delete %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
    <%= link_to 'New record', :controller => 'records', :action => 'new' %>
</div>