<div class="container-fluie width-limit-md">
    <%= form_for @record, :url => { :controller => 'records', :action => 'create' } do |f| %>
        <%= f.label :site_serial, "Site serial" %>
        <%= f.text_field :site_serial %>

        <%= f.label :date, "日期" %>
        <%= f.text_field :date %>

        <%= f.label :streamflow, "流速(ft/sec)" %>
        <%= f.text_field :streamflow %>

        <%= f.label :streamflow_spike, "流速spike(ft/sec)" %>
        <%= f.text_field :streamflow_spike %>

        <%= f.label :water_temperature, "水溫(度C)" %>
        <%= f.text_field :water_temperature %>

        <%= f.submit "Create" %>
    <% end %>
</div>