<nav class="header">
  <div class="nav-wrapper">
    <%= link_to root_url, :class => "brand-logo" do%>
      <%= image_tag("logo/magikarp-icon.png", :class => 'header-icon') %>Magicarp
    <% end %>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Magicarp\'s threat', statement_path %></li>
      <li><%= link_to 'Site List', sites_path %></li>
      <li><%= link_to 'Record List', records_path %></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><%= link_to 'Magicarp\'s threat', statement_path %></li>
      <li><%= link_to 'Site List', sites_path %></li>
      <li><%= link_to 'Record List', records_path %></li>
    </ul>
  </div>
</nav>
