.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.width-limit-sm {
  margin: 0 auto;
  max-width: $screen-sm-max;
}

.width-limit-md {
  margin: 0 auto;
  max-width: $screen-md-max;
}

.width-limit-lg {
  margin: 0 auto;
  max-width: $screen-lg-max;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

.inline-block-vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

.right-space-sm {
  margin-right: 10px;
}

.page-margin-top {
  margin-top: 0.5em;
}

.image-full-width {
  width: 100%;
}

.image-circle {
  border-radius: 100%;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-top-md {
  margin-top: 20px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.margin-bottom-md {
  margin-bottom: 20px;
}

.font-size-large {
  font-size: $font-size-large;
}

.font-size-xlarge {
  font-size: $font-size-xlarge;
}