<div class="container-fluie width-limit-md">
    <table>
    <thead>
        <tr>
            <td>編號</td>
            <td>名稱</td>
            <td>河川長度(公尺)</td>
            <td>回歸二次項</td>
            <td>回歸一次項</td>
            <td>回歸常數項</td>
            <td>動作</td>
        </tr>
    </thead>
    <tbody>
        <% @sites.each do |site| %>
            <tr>
                <td><%= site.serial %></td>
                <td><%= site.name %></td>
                <td><%= site.river_length %></td>
                <td><%= site.reg_square %></td>
                <td><%= site.reg_linear %></td>
                <td><%= site.reg_const %></td>
                <td><%= link_to 'Delete', site_path(site), :method => :delete %></td>
            </tr>
        <% end %>
    </tbody>
    </table>
    <%= link_to 'New site', :controller => 'sites', :action => 'new' %>
</div>