<div class="container-fluie width-limit-md">
    <%= form_for @site, :url => { :controller => 'sites', :action => 'create' } do |f| %>
        <%= f.label :serial, "Serial" %>
        <%= f.text_field :serial %>

        <%= f.label :name, "Name" %>
        <%= f.text_field :name %>

        <%= f.label :river_length, "河川長度(公尺)" %>
        <%= f.text_field :river_length %>

        <%= f.label :reg_square, "二次項" %>
        <%= f.text_field :reg_square %>

        <%= f.label :reg_linear, "一次項" %>
        <%= f.text_field :reg_linear %>

        <%= f.label :reg_const, "常數項" %>
        <%= f.text_field :reg_const %>


        <%= f.submit "Create" %>
    <% end %>
</div>