<!DOCTYPE html>
<html>
<head>
  <title>Magicarp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <header>
    <%= render "partial/header" %>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <%= render "partial/footer" %>
  </footer>

</body>
</html>
