body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  background-color: #2894FF;

  .header-icon {
    display: inline-block;
    height: 50px;
    margin-top: -5px;
  }
}